/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}



/* custom styling */

body {
	background-color: #FFF;
	font-family: helvetica;
	text-align: center;
}

h1 {
	background: #111;
	color: white;
	text-align: center;
	font-size: 2em;
	letter-spacing: 0.15em;
	padding: 10px 0;
}

h1 a:hover {
	color: inherit;
}

h1 a, nav a {
	text-decoration: none;
	color: inherit;
}

nav {
	max-width: 382px;
	color: #111;
	font-size: 1em;
	margin: auto;
	list-style: none;
}

nav li {
	padding: 25px 5%;
}

nav a:hover {
	color: #999;
}

ul {
	padding: 0px;
}

li {
	padding: 10px;
	display: inline-block;
}

.active {
	font-weight: bold;
	font-size: 1.2em;
}

p {
	margin-bottom: 25px;
	font-size: .9em;
}

p a {
	text-decoration: none;
}

footer {
	margin: 0 auto 30px auto;
	text-align: center;
}

main {
	padding: 0 5%;
	margin: 0 auto;
	text-align: left;
	letter-spacing: 0.04em;
	line-height: 1.3em;
}

#resume {
	max-width: 800px;
}

#about-photo {
	max-height: 425px;
	max-width: 425px;
	margin: 0 auto 30px auto;
}

img {
	height: 100%;
	width: 100%;
}

article {
	text-align: justify;
	max-width: 638px;
	margin: 30px auto 30px auto;
}

#portfolio {
	margin-bottom: 50px;
}

.thumbs {
	position: relative;
	max-height: 290px;
	display: inline-block;
	overflow: hidden;
	margin: 0 3px 6px 3px;
}

.hidden {
	opacity: 0;
	visibility: hidden;
	height: 50px;
	width: 100%;
	background-color: #FFF;
	position: absolute;
	top: 290px;
	transition: all .3s ease-in-out;
}

.thumbs:hover .hidden {
	visibility: visible;
	top: 240px;
	opacity: 0.8;
}

.hidden h6 {
	padding: 5px 5px 0 5px;
	color: #000;
	text-align: center;
	font-size: 0.8em
}

#profiles img {
	height: 30px;
	width: 30px;
}

#birch {
	text-align: center;
	margin: 25px auto;
}